{% extends 'boaapp/base_generic.html' %} {% load static %}

{% block title %}thenumerix | Business Analytics & Projects{% endblock %}

{% block content %}
<div class="custom-margin-bottom text-center">
    <h1 class="text-center mb-4">Industry Engineering & Project Insights</h1>
    <p class="lead mb-4" style="max-width: 800px; margin: auto;">
        Delve into the "Who, Why, What, and How" of key projects, showcasing the practical application of technical skills to overcome industry-specific challenges.
        <br><small>For a comprehensive overview of my roles and responsibilities, please visit my <a href="{% url 'portfolio_showcase' %}?open=collapseAA">Portfolio & Work History</a>.</small>
    </p>

    <div class="accordion" id="companyProjectsAccordion" style="max-width: 800px; margin: auto;">

        {# American Airlines - Baggage System #}
        <div class="card mb-2">
            <div class="card-header" id="headingAABaggage">
                <h2 class="mb-0">
                    <button class="btn btn-link w-100 text-left d-flex align-items-center justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAABaggage" aria-expanded="false" aria-controls="collapseAABaggage">
                        <img src="{% static 'css/img/american_airlines_logo.png' %}" alt="American Airlines Logo" class="accordion-company-logo">
                        Baggage Handling System
                    </button>
                </h2>
            </div>
            <div id="collapseAABaggage" class="collapse" aria-labelledby="headingAABaggage" data-parent="#companyProjectsAccordion">
                <div class="card-body">
                    <div class="mb-3">
                        <h4>Who Needs? (Stakeholders)</h4>
                        <hr />
                        <ul>
                            <li><strong>Baggage Handlers:</strong> Responsible for loading, unloading, and transferring baggage.</li>
                            <li><strong>Airport Staff:</strong> Involved in various roles supporting airport operations, such as customer service and security.</li>
                            <li><strong>Passengers:</strong> Directly affected by baggage delays or losses.</li>
                            <li><strong>Airline Operations:</strong> Need real-time information for efficient flight operations and customer service.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <h4>Why This? (No "Baggage")</h4>
                        <hr />
                        <ul>
                            <li><strong>Purpose:</strong> To track and manage baggage movement throughout the airline's network, ensuring efficient operations and reducing losses.</li>
                            <li><strong>Resolve:</strong> To address challenges such as baggage delays, lost luggage, and inefficiencies in baggage handling processes.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <h4>What Functionality? (Intricate Level)</h4>
                        <hr />
                        <ul>
                            <li><strong>Predictive analytics:</strong> Use machine learning to predict baggage trends and identify potential issues.</li>
                            <li><strong>Automation:</strong> Automate routine tasks to improve efficiency and reduce errors.</li>
                            <li><strong>Data integration:</strong> Integration with various systems, such as flight information and passenger personal and baggage data.</li>
                        </ul>
                    </div>
                    <div>
                        <h4>How it Works? (Technical Stack)</h4>
                        <hr />
                        <ul>
                            <li><strong>Data Engineering:</strong> Azure Data Lake, Databricks, Cloud Storage</li>
                            <li><strong>Machine Learning/Automation/Visualization:</strong> Python, Power Automate, Power BI</li>
                            <li><strong>Security:</strong> Coverity, Black Duck, Tanium, Nucleus</li>
                        </ul>
                        <p><small>Discover more about these tools in the <a href="{% url 'project_pages' %}?open=collapseTechAA">American Airlines section of the Technical Showcase</a>.</small></p>
                    </div>
                </div>
            </div>
        </div>

        {# American Airlines - Staff Management System #}
        <div class="card mb-2">
            <div class="card-header" id="headingAAStaff">
                <h2 class="mb-0">
                    <button class="btn btn-link w-100 text-left d-flex align-items-center justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAAStaff" aria-expanded="false" aria-controls="collapseAAStaff">
                        <img src="{% static 'css/img/american_airlines_logo.png' %}" alt="American Airlines Logo" class="accordion-company-logo">
                        In-Airport Staff Management
                    </button>
                </h2>
            </div>
            <div id="collapseAAStaff" class="collapse" aria-labelledby="headingAAStaff" data-parent="#companyProjectsAccordion">
                <div class="card-body">
                    <div class="mb-3">
                        <h4>Who Needs? (Stakeholders)</h4>
                        <hr />
                        <ul>
                            <li><strong>Gate Agents:</strong> Directly responsible for managing passenger boarding and gate operations.</li>
                            <li><strong>Pilots and Flight Crew:</strong> Need to access information regarding their flight schedules and assignments.</li>
                            <li><strong>Airport Staff:</strong> Involved in various roles supporting airport operations, such as customer service, maintenance, and security.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <h4>Why This? (Seamless Flights)</h4>
                        <hr />
                        <ul>
                            <li><strong>Purpose:</strong> To provide a centralized platform for managing in-airport staff activities, ensuring efficient operations and accurate tracking of flight-related information.</li>
                            <li><strong>Resolve:</strong> To address challenges such as manual data entry, delays in accessing critical information, and inefficiencies in coordinating staff assignments.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <h4>What Functionality? (Intricate Level)</h4>
                        <hr />
                        <ul>
                            <li><strong>Data analytics:</strong> Analyze large datasets to identify trends, optimize operations, and improve decision-making.</li>
                            <li><strong>Integration:</strong> Integrate with other airport systems, such as passenger management systems and flight operations systems.</li>
                            <li><strong>Mobile accessibility:</strong> Enable staff to access the application on mobile devices for on-the-go information and updates.</li>
                             <li><strong>Staff scheduling:</strong> Track and manage staff schedules, assignments, and shifts.</li>
                            <li><strong>Flight information:</strong> Provide real-time updates on flight status, gate assignments, and passenger boarding information.</li>
                            <li><strong>Terminal and gate management:</strong> Manage terminal flight rollouts, gate assignments, and resource allocation.</li>
                        </ul>
                    </div>
                    <div>
                        <h4>How it Works? (Technical Stack)</h4>
                        <hr />
                        <ul>
                            <li><strong>Frontend/Backend:</strong> React, Angular, or Vue.js for building the user interface. Node.js or Python (Django or Flask) for developing the application's server-side logic.</li>
                            <li><strong>Database:</strong> PostgreSQL or MongoDB for storing and managing application data.</li>
                            <li><strong>Cloud/DevOps:</strong> Azure for hosting the application and its infrastructure. Git for version control, Jenkins or CircleCI for continuous integration, and Docker or Kubernetes for containerization and deployment.</li>
                        </ul>
                        <p><small>Explore these and other technologies in the <a href="{% url 'project_pages' %}?open=collapseTechAA">American Airlines section of the Technical Showcase</a>.</small></p>
                    </div>
                </div>
            </div>
        </div>

        {# Citibank - Data Platform #}
        <div class="card mb-2">
            <div class="card-header" id="headingCitiData">
                <h2 class="mb-0">
                    <button class="btn btn-link w-100 text-left d-flex align-items-center justify-content-center" type="button" data-bs-toggle="collapse" data-bs-target="#collapseCitiData" aria-expanded="false" aria-controls="collapseCitiData">
                        <img src="{% static 'css/img/citibank_logo.png' %}" alt="Citibank Logo" class="accordion-company-logo">
                        Data Platform & Analytics
                    </button>
                </h2>
            </div>
            <div id="collapseCitiData" class="collapse" aria-labelledby="headingCitiData" data-parent="#companyProjectsAccordion">
                <div class="card-body">
                    <div class="mb-3">
                        <h4>Who? (Stakeholders)</h4>
                        <hr />
                        <ul>
                            <li><strong>Data Scientists:</strong> Utilize the developed tools and platforms for data analysis and modeling.</li>
                            <li><strong>Business Analysts:</strong> Rely on the data insights to make informed decisions.</li>
                            <li><strong>IT Teams:</strong> Responsible for maintaining and supporting the data infrastructure.</li>
                        </ul>
                    </div>
                    <div class="mb-3">
                        <h4>What? (Faster Money - Functionality)</h4> {# Combined What & Why for Citi as they were similar #}
                        <hr />
                        <ul>
                            <li><strong>Data ingestion:</strong> Extract data from various sources and load it into the data platform.</li>
                            <li><strong>Data transformation:</strong> Clean, transform, and prepare data for analysis.</li>
                            <li><strong>Data governance:</strong> Implement data governance practices to ensure data quality and consistency.</li>
                        </ul>
                    </div>
                    <div>
                        <h4>How it Works? (Technical Stack)</h4>
                        <hr />
                        <ul>
                            <li><strong>Data Engineering:</strong> Python, PySpark, HDFS, HBase, Hive, Hadoop Ecosystem</li>
                            <li><strong>ETL:</strong> Databricks, Python, PySpark</li>
                            <li><strong>DevOps:</strong> Jenkins, bmc RLM, Autosys, Docker, Kubernetes, CI/CD, GitBash, Java/J2EE</li>
                        </ul>
                        <p><small>The <a href="{% url 'project_pages' %}?open=collapseTechCiti">Citibank section of the Technical Showcase</a> provides more detail on these technologies.</small></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}
