{% extends 'boaapp/base_generic.html' %} {% load static %}

{% block title %}Home{% endblock %}


{% block content %}
    <div class="container login-custom-container custom-margin-bottom">
      <h1
        class="display-4 mb-4 d-flex flex-column align-items-center justify-content-center"
      >
        <span
          >Welcome to
          <span class="text-primary">
            <img
              src="{% static 'logo.png' %}"
              alt="thenumerix Logo"
              height="150"
            />
          </span>
        </span>
      </h1>
      {% if user.is_authenticated %}
      <span>{{ user.username }}'s Portfolio, Education, Technical Work, and Apps</span>
      {% else %}
      <span>Portfolio, Education, Technical Work, and Apps</span>
      {% endif %}
    </div>

    {% if user.is_authenticated %}
    <div class="container login-custom-container custom-margin-bottom">
      <div
        class="accordion"
        id="dashboardAccordion"
        style="max-width: 500px; margin: auto"
      >
        {% comment %} Enterprise Architecture {% endcomment %}
        <div class="card mb-2">
          <div class="card-header" id="headingOne">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block"
                type="button"
                onclick="window.location.href='{% url 'portfolio_showcase' %}'"
              >
                Portfolio
              </button>
            </h2>
          </div>
          <div
            id="collapseOne"
            class="collapse" {# This div will no longer be used for content #}
            aria-labelledby="headingOne"
            data-parent="#dashboardAccordion"
          ></div>
        </div>

        {% comment %} Education {% endcomment %}
        <div class="card mb-2">
          <div class="card-header" id="headingEducation">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block"
                type="button"
                onclick="window.location.href='{% url 'education_details' %}'"
              >
                Education
              </button>
            </h2>
          </div>
          <div
            id="collapseEducation"
            class="collapse"
            {# This div will no longer be used for content #}
            aria-labelledby="headingEducation"
            data-parent="#dashboardAccordion"
          ></div>
        </div>

        {% comment %} Technical {% endcomment %}
        <div class="card mb-2">
          <div class="card-header" id="headingTwo">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block"
                type="button"
                onclick="window.location.href='{% url 'project_pages' %}'"
              >
                Technical
              </button>
            </h2>
          </div>
          <div
            id="collapseTwo"
            class="collapse"
            {# This div will no longer be used for content #}
            aria-labelledby="headingTwo"
            data-parent="#dashboardAccordion"
          ></div>
        </div>

        {% comment %} Industry Engineering  {% endcomment %}
        <div class="card mb-2">
          <div class="card-header" id="headingThree">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block"
                type="button"
                onclick="window.location.href='{% url 'companyandme' %}'"
              >
                Industry Engineering              
              </button>
            </h2>
          </div>
          <div
            id="collapseThree"
            class="collapse"
            {# This div will no longer be used for content #}
            aria-labelledby="headingThree"
            data-parent="#dashboardAccordion"
          ></div>
        </div>

        <div class="card mb-2">
          <div class="card-header" id="headingSix">
            <h2 class="mb-0">
              <button
                class="btn btn-link btn-block"
                type="button"
                onclick="window.location.href='{% url 'uploadit!' %}'"
              > 
                <span class="text-primary">
                  <img
                    src="{% static 'css/img/uploadit!logo.png' %}"
                    alt="UploadIt! Logo"                    
                    height="150" /></span
                ><span class="badge badge-success badge-pill">New!</span>
              </button>
            </h2>
          </div>
          <div
            id="collapseSix"
            class="collapse"
            {# This div will no longer be used for content #}
            aria-labelledby="headingSix"
            data-parent="#dashboardAccordion"
          ></div>
        </div>
      </div>
    </div>
    {% endif %}

    {% if not user.is_authenticated %}
    <div class="container login-list custom-margin-bottom">
      <form class="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Username:</label>
          <input
            type="text"
            class="form-control"
            id="username"
            name="username"
          />
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
          />
        </div>
        <button type="submit" class="btn login">Login</button>
      </form>
    </div>
    {% endif %}

{% endblock %}
