{% extends 'boaapp/base_generic.html' %} {% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}thenumerix | Resume{% endblock %}</title>

    <!-- Include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Include Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <!-- Include your custom CSS -->
    <link
      rel="stylesheet"
      href="{% static 'css/index.css' %}?v={{ timestamp }}"
    />

    <!-- Include Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Include your custom JavaScript -->
    <script src="{% static 'js/index.js' %}"></script>

    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  </head>
  <body>
    {% block content %}
    <div class="container customer-container col-md-8">
      <div class="row justify-content-center">
        <h2>Resume</h2>
        {% if resume %}
        <p>{{ resume.description }}</p>
        <a href="{{ resume.file.url }}" class="btn" target="_blank"
          >Download Resume</a
        >
        <!-- <iframe
        src="{{ resume.file.url }}"
        style="width: 100%; height: 600px"
        frameborder="0"
      ></iframe> -->
        {% else %}
        <p>{{ error }}</p>
        {% endif %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
