{% extends "boaapp/base_generic.html" %}
{% load static %}
{% load camel_filters %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Upload Success</title>

    <!-- jQuery + Bootstrap -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Custom CSS & JS -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}?v={{ timestamp }}" />
    <script src="{% static 'js/index.js' %}"></script>

    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap" rel="stylesheet" />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  </head>

  <body>
    {% block content %}
    <div class="container custom-container mt-4">
      <div class="alert alert-success" role="alert">
        <input type="hidden" id="file_name" value="{{ file_name }}" />
        <h4 class="alert-heading">Success!</h4>
        <span>You have uploaded:</span>
        <h4 id="displayedFileName">{{ file_name|camelcase_file }}</h4>
        <span>Your document has been successfully uploaded and processed.</span>
        <br />
        

        {% if audio_names %}
        <div class="mt-4">
          <h5>Generated Audio Files:</h5>
          <ul>
            {% for file in audio_names %}
              <li>
                {{ file|slice:"5:"|camelcase_filename }}
              </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>

      <div class="d-flex flex-column align-items-center gap-3">
        <span>
          You can now view the processed results below in the dashboard below.
        </span>
        <a href="{% url 'upload_document' %}" class="btn upload btn-primary">📤 Upload More Files</a>
        <hr>
        <span>
          You can upload another file below.
        </span>
        <a href="{% url 'dashboard' %}" class="btn upload btn-primary">📊 Go to Dashboard</a>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
