{% extends 'boaapp/base_generic.html' %} {% load static %} {% load camel_filters
%} {% get_media_prefix as MEDIA_URL %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>thenumerix | Upload Now</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{% static 'css/index.css' %}?v={{ timestamp }}"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon" />
  </head>
  <body class="{% if page_id %}{{ page_id }}{% endif %}">
    {% block content %}
    <div class="container custom-container text-center">
      <h1 class="mb-3">📤 Upload Your Data Course</h1>

      {% if user.is_authenticated %}
      <p class="mb-4">
        You, <strong>{{ user.username }}</strong>, are now uploading your very
        own course.
      </p>
      {% endif %}

      <form
        method="post"
        enctype="multipart/form-data"
        action="{% url 'upload_document' %}"
        class="form"
      >
        {% csrf_token %}
        <div class="form-group">{{ form.as_p }}</div>
        <button type="submit" class="btn btn-lg btn-primary">Upload</button>
      </form>
    </div>

    {% endblock %}
    <script>
      document.querySelector('#uploadForm').addEventListener('submit', function (e) {
        const fileInput = document.querySelector('input[type="file"]');
        const fileName = fileInput.files[0]?.name;

        const uploadedFiles = {{ existing_filenames|safe }};  // passed from backend

        if (uploadedFiles.includes(fileName)) {
          e.preventDefault();
          alert("A file with this name already exists. Please rename and try again.");
        }
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
